PyQt6==6.7.1
Pillow==10.4.0
pillow-heif==0.18.0
pdf2docx==0.5.8
pymupdf==1.24.11
python-docx==1.1.2
pdfplumber==0.11.4
openpyxl==3.1.5
pandas==2.2.3
cairosvg==2.7.1
imageio==2.35.1
imageio[ffmpeg]==2.35.1
ffmpeg-python==0.2.0
pydub==0.25.1
xmltodict==0.13.0
pyyaml==6.0.2
cryptography==43.0.3
fonttools==4.54.1
brotli==1.1.0
rarfile==4.2
pikepdf==9.3.0
ebooklib==0.18
markdown==3.7
weasyprint==62.3
ruff==0.6.9
pytest==8.3.3
pytest-qt==4.4.0
pyinstaller==6.11.0
